*{
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    display: flex;
    background-color: lightpink;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    font-size: 6vw;
}

nav{
    align-self: flex-end;
}

nav ul{
    list-style-type: none;
    display: flex;

}

ul li {
    padding-left: 2.5rem;
    padding-right: 1rem;  
    padding-bottom: .5rem;
}

.main {
    background-color: lightgrey;
    height: 60vw;
    text-align: center;
}

.main p{
    padding: 20px;
}

section {
    text-align: center;
    margin: 2rem;  
    font-size: 6vw;
}

.primerInfo {
    text-align: center;
}

input {
    width: 30%;
    height: 3.5vw;
    border: 1px solid black;    
    border-radius: 15px;
    padding-left: 30px;
    font-size: 2rem;
}


button{
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    font-size: 2vw;
}